<div class="message-wrap">

    <div class="msg-wrap" id="dialog-chat">
        {% for date, items in messages %}
            <div class="msg-date">
                <strong>{{ date }}</strong>
            </div>

            {% for message in items %}
                {% include 'ChatBundle:Default:message.html.twig'
                with {'id': message.id, 'text': message.text, 'time': message.created, 'author': message.author, 'isModerator': isModerator} only %}
            {% endfor %}
        {% endfor %}
    </div>

    <form name="publish">
        <div class="send-wrap ">
            <textarea name="message" class="form-control send-message" rows="3" placeholder="Write message..."></textarea>
        </div>
        <input type="submit" name="send" class="btn-block btn btn-success" value="Send" >
    </form>

</div>