{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
    '@ChatBundle/Resources/public/css/chat.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.js'
    '@ChatBundle/Resources/public/js/chat.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

    <div class="container">
        {% include 'ChatBundle:Default:header.html.twig' %}
        <div class="row">
            <div class="col-lg-offset-1 col-sm-2 col-md-2 col-lg-2">
                {% include 'ChatBundle:Default:rooms-list.html.twig' with {'rooms': rooms} only %}
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                {% include 'ChatBundle:Default:dialog.html.twig' %}
            </div>
         </div>
    </div>

    <script>
        var currRoom = {{ currRoom }};
    </script>

{% endblock %}
