{% extends '::base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
    '@ChatBundle/Resources/public/css/chat.css'
    '@ChatBundle/Resources/public/css/navbar.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.js'
    '@ChatBundle/Resources/public/js/chatSocket.js'
    '@ChatBundle/Resources/public/js/chat.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

    {% include 'ChatBundle:Default:navbar.html.twig' %}

    <div class="container-fluid">
        <div class="col-lg-offset-3 col-md-offset-2 col-lg-6 col-md-8">
            <div class="row">
                <div class="sidebar col-xs-3 col-sm-3 col-md-2 col-lg-2">
                    {% include 'ChatBundle:Default:rooms-list.html.twig' with {'rooms': rooms, 'currRoom': currRoom} only %}
                </div>
                <div class="col-sm-offset-4 col-xs-offset-4 col-sm-6 col-xs-8 col-lg-offset-4 col-md-offset-4 col-md-8 col-lg-8">
                    {% include 'ChatBundle:Default:dialog.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <script>
        var global = {
            currRoom: {{ currRoom }},
            socketUrl: 'ws://chat.dev/websocket'
        };
    </script>

{% endblock %}
