<div class="conversation-wrap col-lg-2">

    {% for room in rooms %}
        <div class="media conversation">
            <div class="media-body">
                <a href="#" class="btn send-message-btn ">{{ room.name }}</a>
            </div>
        </div>
    {% endfor %}

</div>