<div class="conversation-wrap">

    {% for id, name in rooms %}
        <div class="row media conversation" id="room_{{ id }}">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <svg height="10" width="10" style="display: none">
                    <circle cx="5" cy="5" r="5" fill="orange" />
                </svg>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <a href="{{ path('room_show', {'name': name}) }}" class="">{{ name }}</a>
            </div>
        </div>
    {% endfor %}

</div>